.gestionUsuarios-main {
    max-width: 60rem;
    margin: 0 auto;
}

.campo {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 1rem;
    margin-top: 4px;
}

.form-usuario button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.tabla-usuarios {
    width: 100%;
    border-collapse: collapse;
}

.tabla-usuarios th,
.tabla-usuarios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabla-usuarios th {
    background-color: #f4f4f4;
}
