* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(41, 41, 41);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    max-width: 20rem;
}

.user-div {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    color: white;
}

.user-div span:first-of-type {
    font-weight: bolder;
}

.user-div span:last-of-type {
    font-size: .75rem;
}

.card img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.card button {
    cursor: pointer;
    font-size: .8rem;
    background: white;
    font-weight: 600;
    border: none;
    border-radius: 3rem;
    padding: 5px 12px;
    margin-left: 5px;
}


